@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* BC Sans Regular */
@font-face {
  font-family: "BCSans";
  src: url("./fonts/BCSans-Regular.woff") format("woff");
}

/* BC Sans Bold */
@font-face {
  font-family: "BCSans";
  font-weight: bold;
  src: url("./fonts/BCSans-Bold.woff") format("woff");
}

/* BC Sans Bold + Italic */
@font-face {
  font-family: "BCSans";
  font-style: italic;
  font-weight: bold;
  src: url("./fonts/BCSans-BoldItalic.woff") format("woff");
}

/* BC Sans Italic */
@font-face {
  font-family: "BCSans";
  font-style: italic;
  src: url("./fonts/BCSans-Italic.woff") format("woff");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: BCSans, Helvetica, sans-serif;
}
